# Python cache files
__pycache__/
*.pyc
*.pyo

# Model and training outputs
model/
outputs/training_logs.txt
outputs/best_model.pth

# Misclassified folder
outputs/misclassified/

# Dataset files
data/fer2013.csv

# IDE-specific files
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
